/* ==========================================================================
   Main NodeMC Dashboard CSS
   ========================================================================== */
/**
 * .s-* "Section", main div styling
 * .e-* "Element", small HTML element styling
 * .u-* "Utility", small utitilites
 * .n-* "Night mode", darker colours
 */
body, html { margin:0;padding:0; }
input, textarea { border-radius: 0 !important; }
.n-body{}

.s-header {
	/* Colours (yes I'm Canadian shush) */
	background-color: #2FB502;
	color:#FFFFFF;
	/* Shadow */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	/* Sizing & padding */
	padding: 0 0 0 10%;
}
.s-header small { font-size: 50%; }
.n-header{}

.s-content {
	padding: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.n-content{}

.e-log { height: 100%; resize: none; }
.e-command {}